body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: #E0E0E0;
    margin: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    text-shadow: 2px 2px 4px #000000;
}

.rip-text {
    font-size: 6rem;
    font-weight: bold;
    color: #54a354;
}

.label-text {
    font-size: 1.5rem;
    color: #e0e0e0;
}